@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4>Segundo Examen Parcial</h4>
        <h4>Carné: 2018OF601 Nombre: Luis Mario Ortiz Figueroa</h4>
    </div>

    <div class="gallery">
        <img src="https://2018of601sa.blob.core.windows.net/gallery/img1.jpg" />
        <img src="https://2018of601sa.blob.core.windows.net/gallery/img2.jpg" />
        <img src="https://2018of601sa.blob.core.windows.net/gallery/img3.jpg" />
        <img src="https://2018of601sa.blob.core.windows.net/gallery/img4.jpg" />
        <img src="https://2018of601sa.blob.core.windows.net/gallery/img5.jpg" />
    </div>
