@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4>Segundo Examen Parcial</h4>
        <h4>Carné: 2018OF601 Nombre: Luis Mario Ortiz Figueroa</h4>
    </div>
